---
import Layout from '../layouts/Layout.astro';
import Member from '../components/Member.astro';

import ben from '../content/ben.jpg'
---

<Layout title="Our Team">
	<main class=''>
		<section class=''>
			
		</section>
        <section class='grid grid-cols-3 gap-x-10 gap-y-10 pl-20 pr-20'>
            <Member 
                name="Ben Thomas" 
                title='Team Lead / Chief Executive Officer' 
                linkedinURL="https://www.linkedin.com/in/brjthomas" 
                websiteURL='https://benthomas.me/' 
                photoPath={ben}
            />
            <!-- <Member 
                name="Samuel Sheppard" 
                title='Chief Technology Officer - Software'
                linkedinURL=""
                websiteURL=''
                photoPath={sam}
            />
            <Member 
                name="Michael Mallay" 
                title='Chief Technology Officer - Electrical'  
                linkedinURL="https://www.linkedin.com/in/michael-mallay-92a769221/" 
                photoPath={michael}
            />
            <Member 
                name="Russell Corbett" 
                title='Chief Information Officer'
                about=''
                linkedinURL="https://www.linkedin.com/in/russell-corbett"  
                websiteURL='https://russellcorbett.ca/' 
                photoPath={russell}
            />
            <Member 
                name="Katherine Williams" 
                title='Chief Marketing Officer' 
                linkedinURL="" 
                websiteURL='' 
                photoPath={kate}
            />
            <Member 
                name="Jacob Gillis" 
                title='' 
                linkedinURL="" 
                websiteURL='' 
                photoPath={jacob}
            />
            <Member
                name="Nicholas Philpott" 
                title='' 
                linkedinURL="" 
                websiteURL='' 
                photoPath={nick}
            />
            <Member 
                name="Matthew Jones" 
                title='' 
                linkedinURL="" 
                websiteURL='' 
                photoPath={matthew}
            />
            <Member 
                name="Daniel Dolomount" 
                title='' 
                linkedinURL="" 
                websiteURL='' 
                photoPath={daniel}
            />
            <Member 
                name="Ayman Islam" 
                title='' 
                linkedinURL="" 
                websiteURL='' 
                photoPath={ayman}
            /> -->
        </section>
	</main>
</Layout>